
body {
    font-family: 'Josefin Sans', sans-serif;
    color: #5d5d5d;
}

.modal button {
    background-color: rgb(26, 111, 162);
}

.jumbotron {
    padding: 25px 0 10px 0;
    border: 12px double white;
    margin: 0 0 15px 0;
    background-color: #d0d0d0;
}

.display-4 {
    font-size: 2.5rem;
    text-shadow: -1px 0px 6px #fff;
    color: rgb(25, 61, 82);
}

.jumbotron p {
    font-size: 1rem;
}

.questions-div h3 {
    font-size: 1.45rem;
}

.list-group-item {
    cursor: pointer;
    border: none;
    margin-bottom: 5px;
    color: #fff;
    text-align: left;
    background-color: rgb(12, 121, 148);
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

.you-win,
.times-up,
.you-lose,
.final-score {
    display: none;
    text-align: center;
    font-size: 1.8rem;
    color: #5f5959;
}

.time-div h6 {
    display: inline;
}

.time-div {
    text-align: right;
    margin: 25px 12px;
}

/* --- media queries --- */
@media only screen and (min-width: 768px) {

    .jumbotron {
        padding: 25px 0 15px 0;
        margin: 10px 10px 25px 10px;
    }

    .display-4 {
        font-size: 3.5rem;
    }

    .jumbotron p {
        font-size: 1.25rem;
    }

    .questions-div h3 {
        font-size: 1.75rem;
    }

    .list-group-item {
       padding: 24px 24px;
       font-size: 1.2em;
       margin-bottom: 10px;
    }

    .time-div h6 {
        font-size: 1.4rem;
    }

    .time-div {
        margin: 35px 22px;
    }
}

@media only screen and (min-width: 1300px) {

    body {
        background-color: #a7a7a7;
        border: 8px dotted #fff;
        min-height: 100vh;
    }

    .jumbotron {
        padding: 35px 35px;
        margin: 35px 55px 30px 55px;
        background-color: #fffffff2;
        border: 1px dotted #a7a7a7;
        box-shadow: -9px 8px 16px 2px #737373; 
    }

    .display-4 {
        text-shadow: -2px 1px 3px #737373;
    }

    .questions-div h3 {
        font-size: 1.8rem;
        text-shadow: -3px 3px 3px #737373;
        color: #fff;
    }

    .list-group-item {
        padding: 20px 24px;
        font-size: 1.2em;
        margin-bottom: 30px;
        box-shadow: -5px 9px 14px 2px #737373;
     }

     .list-group-item:hover,
     .list-group-item:focus {
        box-shadow: inset 0px 0px 12px 5px #fff;
    }

    .you-win,
    .times-up,
    .you-lose,
    .final-score {
    display: none;
    text-align: center;
    font-size: 3rem;
    color: white;
    text-shadow: -3px 3px 3px #737373;
    }

     .time-div {
        margin: 35px 55px 30px 55px;
        padding: 15px 35px;
        text-shadow: -3px 3px 3px #737373;
        color: #fff;
    }

}